{% load static %}

<!DOCTYPE html>
<html class="no-js" lang="zxx">
  <head>
      <style>
             .box{
                width: auto;
                height: auto;
                margin: 0px 10px;
                transition: 1s;
            }
            .box:hover{
                transform: scale(1.25);
                background: #ff800a;
                z-index: 2;
                box-shadow: 2px 2px 2px #000;
            }
            .button1{
                background-color: #00fffb; /* Green */
              border: none;
              color: black;
              padding: 15px 32px;
              text-align: center;
              text-decoration: none;
              display: inline-block;
              font-size: 14px;
              border-radius: 12px;
            }
            .button1:hover{
                box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
            }
            .required{
                color:red;
            }
            .card {
                  display: grid;
                  grid-template-columns: 300px;
                  grid-template-rows: 210px 210px 80px;
                  grid-template-areas: "image" "text" "stats";
                  border-radius: 18px;
                  background: white;
                  box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
                  font-family: roboto;
                  text-align: center;
                }
                .card-image {
                  grid-area: image;
                }
                .card-text {
                  grid-area: text;
                  margin: 25px;
                }
                .card-stats {
                  grid-area: stats;
                }
                .card-image {
                  grid-area: image;
                  border-top-left-radius: 15px;
                  border-top-right-radius: 15px;
                  background-size: cover;
                }
                .card-text .date {
                  color: rgb(255, 7, 110);
                  font-size:13px;
                }
                .card-text p {
                  color: grey;
                  font-size:15px;
                  font-weight: 300;
                }
                .card-text h2 {
                  margin-top:0px;
                  font-size:28px;
                }
                .card-stats {
                  grid-area: stats;
                  display: grid;
                  grid-template-columns: 1fr 1fr 1fr;
                  grid-template-rows: 1fr;
                  border-bottom-left-radius: 15px;
                  border-bottom-right-radius: 15px;
                  background: rgb(255, 7, 110);
                }
                .card-stats .stat {
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  flex-direction: column;
                  color: white;
                  padding:10px;
                }
                .card:hover {
                  transform: scale(1.15);
                  box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
                }
                .card {
                ...
                  transition: 0.5s ease;
                  cursor: pointer;
                  margin:30px;
                }
      </style>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>OnlineTuition Home</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="manifest" href="site.webmanifest" />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="{% static 'home/img/favicon.ico' %}"
    />

    <!-- CSS here -->
    <link rel="stylesheet" href="{% static 'home/css/bootstrap.min.css' %} " />
    <link
      rel="stylesheet"
      href="{% static 'home/css/owl.carousel.min.css' %}"
    />
    <link rel="stylesheet" href="{% static 'home/css/slicknav.css' %}" />
    <link rel="stylesheet" href="{% static 'home/css/flaticon.css' %}" />
    <link rel="stylesheet" href="{% static 'home/css/gijgo.css' %}" />
    <link rel="stylesheet" href="{% static 'home/css/animate.min.css' %}" />
    <link rel="stylesheet" href="{% static 'home/css/magnific-popup.css' %}" />
    <link
      rel="stylesheet"
      href="{% static 'home/css/fontawesome-all.min.css' %}"
    />
    <link rel="stylesheet" href="{% static 'home/css/themify-icons.css' %}" />
    <link rel="stylesheet" href="{% static 'home/css/slick.css' %}" />
    <link rel="stylesheet" href="{% static 'home/css/nice-select.css' %}" />
    <link rel="stylesheet" href="{% static 'home/css/style.css' %}" />
  </head>


  <body>
    <!--? Preloader Start -->
    {% csrf_token %}
    <div id="preloader-active">
      <div class="preloader d-flex align-items-center justify-content-center">
        <div class="preloader-inner position-relative">
          <div class="preloader-circle"></div>
          <div class="preloader-img pere-text">
            <img src="{% static 'home/img/logo/loder.png' %}" alt="" />
          </div>
        </div>
      </div>
    </div>
    <!-- Preloader Start -->
    <header>
      <!-- Header Start -->
      {% if foundTutor %}
      {% elif foundStudent %}
      {% else %}
          <div class="header-info-right" style="position:relative;Left:80%;">
              <button type="button" name="button" class="button1" id="mySignUp" data-target="#mymodal" data-toggle="modal"> SignUp </button>
              <div class="modal" id="mymodal">
                  <div class="modal-dialog">
                  <div class="modal-container">
                      <div class="modal-content">
                          <div class="modal-header">
                                  <h3>SignUp</h3>
                                  <button type="button" name="close " class="text-danger" data-dismiss="modal" style="border: 2px solid white; cursor:pointer;">&times;</button>
                          </div>
                          <div class="modal-body">
                              <form action="/Accounts/Register" method="POST" enctype="multipart/form-data">
                                  {% csrf_token %}
                                  <div class="form-group">
                                      <label class="required">
                                          <i class="fa fa-user" aria-hidden="true">
                                          </i>
                                          Name:
                                      </label>
                                      <input type="text" name="Username" id="userName" class="form-control" required>
                                  </div>
                                  <div class="form-group">
                                      <label class="required">
                                          <i class="fa fa-envelope-o" aria-hidden="true"></i>
                                          EmailId:
                                      </label>
                                      <input type="text" name="EmailId" id="emailId" class="form-control" required>
                                  </div>
                                  <div class="form-group">
                                      <label class="required">
                                          <i class="fa fa-unlock-alt" aria-hidden="true"></i>
                                          Password:
                                      </label>
                                      <input type="password" name="Password" id="password" class="form-control" required>
                                  </div>
                                  <div class="form-group">
                                      <label class="required">
                                          <i class="fa fa-unlock-alt" aria-hidden="true"></i>
                                          Confirm Password:
                                      </label>
                                      <input type="password" name="ConfirmPassword" id="ConfirmPassword" class="form-control" required>
                                  </div>
                                  <div class="form-group">
                                      <label>
                                          <i class="fa fa-picture-o" aria-hidden="true"></i>
                                          Profile Image:
                                      </label>
                                      <input type="file" name="ProfileImage" id="ProfileImage" class="container-login100-form-btn">
                                  </div>
                                  <div class="form-group">
                                      <label  for="male"><i class="fa fa-male" aria-hidden="true"></i>Male</label>&nbsp;
                                      <input type="radio" id="male" name="gender" value="male">
                                      &nbsp;&nbsp;&nbsp;&nbsp;
                                      <label  for="female"><i class="fa fa-female" aria-hidden="true"></i>Female</label>&nbsp;
                                      <input type="radio" id="male" name="gender" value="female">
                                  </div>
                                  <div class="form-group">
                                      <label class="required" for="student"><i class="fa fa-graduation-cap" aria-hidden="true"></i>Student</label>
                                      <input type="radio" id="student" name="designation" value="student" required>
                                      &nbsp;&nbsp;&nbsp;&nbsp;
                                      <label class="required" for="tutor"> <i class="fa fa-book" aria-hidden="true"></i>Teacher</label>
                                      <input type="radio" id="tutor" name="designation" value="tutor" required>
                                  </div>
                                  <div class="form-group">
                                      <input type="submit" class="btn btn-success" required style="width:100%">
                                  </div>
                              </form>
                          </div>
                      </div>
                  </div>
                 </div>
              </div>

              <button type="button" name="button" class="button1" id="myLogin" data-target="#mymodalLogin" data-toggle="modal"> Login </button>
              <div class="modal" id="mymodalLogin">
                  <div class="modal-dialog">
                  <div class="modal-container">
                      <div class="modal-content">
                          <div class="modal-header">
                                  <h3>SignUp</h3>
                                  <button type="button" name="close" class="text-danger" data-dismiss="modal" style="border: 2px solid white;cursor:pointer;">&times;</button>
                          </div>
                          <div class="modal-body">
                              <form action="/Accounts/Login" method="POST" enctype="multipart/form-data">
                                  {% csrf_token %}
                                  <div class="form-group">
                                      <label class="required">
                                          <i class="fa fa-envelope-o" aria-hidden="true"></i>
                                          EmailId:
                                      </label>
                                      <input type="text" name="EmailId" id="emailId" class="form-control" required>
                                  </div>
                                  <div class="form-group">
                                      <label class="required">
                                          <i class="fa fa-unlock-alt" aria-hidden="true"></i>
                                          Password:
                                      </label>
                                      <input type="password" name="Password" id="password" class="form-control" required>
                                  </div>
                                  <div class="form-group">
                                      <label class="required" for="student"><i class="fa fa-graduation-cap" aria-hidden="true"></i>Student</label>
                                      <input type="radio" id="student" name="designation" value="student" required>
                                      &nbsp;&nbsp;&nbsp;&nbsp;
                                      <label class="required" for="tutor"> <i class="fa fa-book" aria-hidden="true"></i>Teacher</label>
                                      <input type="radio" id="tutor" name="designation" value="tutor" required>
                                  </div>
                                  <div class="form-group">
                                      <input type="submit" class="btn btn-success" required style="width:100%">
                                  </div>
                              </form>
                          </div>
                      </div>
                  </div>
                 </div>
              </div>
          </div>
          {% endif %}


    <div class="header-area">
        <div class="main-header">
          <div class="header-top d-none d-lg-block">
            <!-- Left Social -->
            <div class="container">
              <div class="col-xl-12">
                <div
                  class="row d-flex justify-content-between align-items-center"
                >
                  <div class="header-info-right" style="position: relative;left:60%;">

                    <ul>
                        {% if foundStudent %}
                        <li class="box">
                          <a href="/Accounts/detailsOfTutor/{{student.emailId}}"
                            ><i class="ti-user"></i>Hi {{student.fullName}}</a
                          >
                        </li>
                        <li class="box">
                          <a href="/Accounts/studentLogout"
                            ><i class="ti-user"></i>LogOut</a
                          >
                        </li>

                        {% elif foundTutor %}
                        <li class="box">
                          <a href="/Accounts/detailsOfTutor/{{tutor.emailId}}"
                            ><i class="ti-user"></i>Hi {{tutor.firstName}}</a
                          >
                        </li>
                        <li class="box">
                          <a href="/Accounts/tutorLogout"
                            ><i class="ti-user"></i>LogOut</a
                          >
                        </li>
                          {% endif %}
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="header-bottom header-sticky">
            <!-- Logo -->
            <div class="logo d-none d-lg-block">
              <a href="/" method="POST"
                ><img src="{% static 'home/img/logo/logo.png' %}" alt=""
              /></a>
            </div>
            <div class="container">
              <div class="menu-wrapper">
                <!-- Logo -->
                <div class="logo logo2 d-block d-lg-none">
                  <a href="/"
                    ><img src="{% static 'home/img/logo/logo.png' %}" alt=""
                  /></a>
                </div>
                <!-- Main-menu -->
                <div class="main-menu d-none d-lg-block">
                  <nav>
                    <ul id="navigation">
                      <li><a href="/">Home</a></li>
                      {% if foundTutor %}
                        <li><a href="/Accounts/tutorSubjectDetailsFilling">Edit Profile</a></li>
                        <li><a href="/Accounts/detailsOfTutor/{{tutor.emailId}}">Students Enrolled</a></li>
                        <li><a href="/Accounts/pendingRequest">Pending Request {{pendingRequest}}
                        </a></li>
                      {% elif foundStudent %}
                        <li><a href="/Accounts/studentDetailUrl/{{student.emailId}}">Your Teachers</a></li>
                        <li><a href="/Accounts/requestStatusUrl">Request Status</a></li>
                      {% endif %}
                    </ul>
                  </nav>
                </div>
                <!-- Header-btn -->
                <div class="header-search d-none d-lg-block">
                  <form action="#" class="form-box f-right">
                    <input
                      type="text"
                      name="Search"
                      placeholder="Search Courses"
                    />
                    <div class="search-icon">
                      <i class="fas fa-search special-tag"></i>
                    </div>
                  </form>
                </div>
              </div>
              <!-- Mobile Menu -->
              <div class="col-12">
                <div class="mobile_menu d-block d-lg-none"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Header End -->
    </header>
    <main>
      <!--? slider Area Start-->
      <div class="slider-area">
        <div class="slider-active">
          <!-- Single Slider -->
          <div class="single-slider slider-height d-flex align-items-center">
            <div class="container">
              <div class="row align-items-center">
                <div class="col-xl-6 col-lg-7 col-md-8">
                  <div class="hero__caption">
                    <span data-animation="fadeInLeft" data-delay=".2s"
                      >Popular Online Courses</span
                    >
                    <h1 data-animation="fadeInLeft" data-delay=".4s">
                      The New Way To Learn Properly in With Us!
                    </h1>
                    <!-- Hero-btn -->
                    <div class="hero__btn">
                      <a
                        href="Accounts/studentRegister"
                        class="btn hero-btn"
                        data-animation="fadeInLeft"
                        data-delay=".8s"
                        >Get Started</a
                      >
                    </div>
                  </div>
                </div>
                <div class="col-xl-6 col-lg-5">
                  <div
                    class="hero-man d-none d-lg-block f-right"
                    data-animation="jello"
                    data-delay=".4s"
                  >
                    <img
                      src="{% static 'home/img/hero/heroman.png' %}"
                      alt=""
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Single Slider -->
          <div class="single-slider slider-height d-flex align-items-center">
            <div class="container">
              <div class="row align-items-center">
                <div class="col-xl-6 col-lg-7 col-md-8">
                  <div class="hero__caption">
                    <span data-animation="fadeInLeft" data-delay=".2s"
                      >Popular Online Courses</span
                    >
                    <h1 data-animation="fadeInLeft" data-delay=".4s">
                      The New Way To Learn Properly in With Us!
                    </h1>
                    <!-- Hero-btn -->
                    <div class="hero__btn">
                      <a
                        href="Accounts/studentRegister"
                        class="btn hero-btn"
                        data-animation="fadeInLeft"
                        data-delay=".8s"
                        >Get Started</a
                      >
                    </div>
                  </div>
                </div>
                <div class="col-xl-6 col-lg-5">
                  <div
                    class="hero-man d-none d-lg-block f-right"
                    data-animation="jello"
                    data-delay=".4s"
                  >
                    <img
                      src="{% static 'home/img/hero/heroman.png' %}"
                      alt=""
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- slider Area End-->
      <!--? Categories Area Start -->
      <div class="categories-area section-padding30">
        <div class="container">
          <div class="row justify-content-sm-center">
            <div class="cl-xl-7 col-lg-8 col-md-10">
              <!-- Section Tittle -->
              <div class="section-tittle text-center mb-70">
                        <span class="border border-success alert alert-success">Popular Teacher with best Reviews</span>
              </div>
            </div>
          </div>
          <div class="row">
              {% for tutor in allTutorInOurDatabase %}
              <div class="col-lg-4 col-md-6 col-sm-6" >
                  <a href="/Accounts/detailsOfTutor/{{tutor.emailId}}">
                  <!-- <button type="button" name="button" onclick="window.location.href='/Accounts/detailsOfTutor/{{tutor.emailId}}';"> -->
                  <div class="card box" style="background-color:#B5EAD7;">
                        <div class="card-image">
                            <img src="{{tutor.profilePhoto.url}}" height="210px" width="100%">
                        </div>
                        <div class="card-text"  style="height: 200px;">
                          <span class="date">Tutor</span>
                          <h2>{{tutor.firstName}}</h2>
                          <p style="color:blue;">{{tutor.summary}}<br>
                              {% if tutor.subject1 == '' %}
                              {% else %}
                                  <i class="fas fa-circle fa-xs">
                                      {{tutor.subject1}}
                                  </i>
                              {% endif %}
                              <br>
                              {% if tutor.subject2 == '' %}
                              {% else %}
                                  <i class="fas fa-circle fa-xs">
                                      {{tutor.subject2}}
                                  </i>
                              {% endif %}
                              <br>
                              {% if tutor.subject3 == '' %}
                              {% else %}
                                  <i class="fas fa-circle fa-xs">
                                      {{tutor.subject3}}
                                  </i>
                              {% endif %}
                              <br>
                          </p>
                        </div>
                        <div class="card-stats">
                          <div class="stat">
                            <div class="value"><i class="fa fa-smile-o fa-lg" aria-hidden="true"></i></div>
                            <div class="type">{{tutor.goodReviews}}</div>
                          </div>
                          <div class="stat border">
                            <div class="value"><i class="fa fa-frown-o fa-lg" aria-hidden="true"></i></div>
                            <div class="type">{{tutor.badReviews}}</div>
                          </div>
                          <div class="stat">
                            <div class="value">Total Students</div>
                            <div class="type">{{tutor.studentCount}}</div>
                          </div>
                        </div>
                      </div>
                  </a>
              </div>
          <!-- </button> -->
                 {% endfor %}
          </div>
      </div>
  </div>
</main>
    <!-- Scroll Up -->
    <div id="back-top">
      <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
    </div>

    <!-- JS here -->

    <script src="{% static 'home/js/vendor/modernizr-3.5.0.min.js' %}"></script>
    <!-- Jquery, Popper, Bootstrap -->
    <script src="{% static 'home/js/vendor/jquery-1.12.4.min.js' %}"></script>
    <script src="{% static 'home/js/popper.min.js' %}"></script>
    <script src="{% static 'home/js/bootstrap.min.js' %}"></script>
    <!-- Jquery Mobile Menu -->
    <script src="{% static 'home/js/jquery.slicknav.min.js' %}"></script>

    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script src="{% static 'home/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'home/js/slick.min.js' %}"></script>
    <!-- One Page, Animated-HeadLin -->
    <script src="{% static 'home/js/wow.min.js' %}"></script>
    <script src="{% static 'home/js/animated.headline.js' %}"></script>
    <script src="{% static 'home/js/jquery.magnific-popup.js' %}"></script>

    <!-- Date Picker -->
    <script src="{% static 'home/js/gijgo.min.js' %}"></script>
    <!-- Nice-select, sticky -->
    <script src="{% static 'home/js/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'home/js/jquery.sticky.js' %}"></script>

    <!-- counter , waypoint -->
    <script src="{% static 'home/js/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'home/js/waypoints.min.js' %}"></script>

    <!-- contact js -->
    <script src="{% static 'home/js/contact.js' %}"></script>
    <script src="{% static 'home/js/jquery.form.js' %}"></script>
    <script src="{% static 'home/js/jquery.validate.min.js' %}"></script>
    <script src="{% static 'home/js/mail-script.js' %}"></script>
    <script src="{% static 'home/js/jquery.ajaxchimp.min.js' %}"></script>

    <!-- Jquery Plugins, main Jquery -->
    <script src="{% static 'home/js/plugins.js' %}"></script>
    <script src="{% static 'home/js/main.js' %}"></script>
  </body>
</html>
