{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Student Register</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--===============================================================================================-->
    <link
      rel="icon"
      type="image/png"
      href="{% static 'studentRegister/images/icons/favicon.ico' %}"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'studentRegister/vendor/bootstrap/css/bootstrap.min.css' %}"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'studentRegister/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'studentRegister/fonts/Linearicons-Free-v1.0.0/icon-font.min.css' %}"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'studentRegister/fonts/iconic/css/material-design-iconic-font.min.css' %}"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'studentRegister/vendor/animate/animate.css' %}"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'studentRegister/vendor/css-hamburgers/hamburgers.min.css' %}"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'studentRegister/vendor/animsition/css/animsition.min.css' %}"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'studentRegister/vendor/select2/select2.min.css' %}"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'studentRegister/vendor/daterangepicker/daterangepicker.css' %}"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'studentRegister/css/util.css' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'studentRegister/css/main.css' %}"
    />
    <!--===============================================================================================-->
  </head>
  <body style="background-color: #999999;">
    <div class="limiter">
      <div class="container-login100">
        <div
          class="login100-more"
          style="
            background-image: url({% static 'studentRegister/images/bg-01.jpg' %});
          "
        ></div>

        <div class="wrap-login100 p-l-50 p-r-50 p-t-72 p-b-50">
            {% if alert_flag %}
                    <script>alert("password entered did not matched with each other so please try again")</script>
            {% endif %}
          <form class="login100-form validate-form" action="studentRegister" method="POST" enctype="multipart/form-data">
              {% csrf_token %}
            <span class="login100-form-title p-b-59" >
              Sign Up
            </span>

            <div
              class="wrap-input100 validate-input"
              data-validate="Name is required"
            >
              <span class="label-input100">Full Name</span>
              <input
                class="input100"
                type="text"
                name="fullName"
                placeholder="Name..."
              />
              <span class="focus-input100"></span>
            </div>

            <div
              class="wrap-input100 validate-input"
              data-validate="Valid email is required: ex@abc.xyz"
            >
              <span class="label-input100">Email</span>
              <input
                class="input100"
                type="text"
                name="emailId"
                placeholder="Email addess..."
              />
              <span class="focus-input100"></span>
            </div>

            <div
              class="wrap-input100 validate-input"
              data-validate="Username is required"
            >
              <span class="label-input100">Username</span>
              <input
                class="input100"
                type="text"
                name="userName"
                placeholder="Username..."
              />
              <span class="focus-input100"></span>
            </div>

            <div
              class="wrap-input100 validate-input"
              data-validate="Password is required"
            >
              <span class="label-input100">Password</span>
              <input
                class="input100"
                type="text"
                name="password"
                placeholder="*************"
              />
              <span class="focus-input100"></span>
            </div>

            <div
              class="wrap-input100 validate-input"
              data-validate="Repeat Password is required"
            >
              <span class="label-input100">Repeat Password</span>
              <input
                class="input100"
                type="text"
                name="repeatPassword"
                placeholder="*************"
              />
              <span class="focus-input100"></span>
            </div>
            <span class="label-input100">Profile Photo </span>
            <div class="container-login100-form-btn">
                <div class="wrap-login100-form-btn">
                    <div class="login100-form-bgbtn"></div>
                    <p>
                        <input id="id_image" type="file" class="" name="profilePhoto">
                    </p>

                </div>
            </div>
            <br><br><br>

            <div class="flex-m w-full p-b-33">
              <div class="contact100-form-checkbox">
                <input
                  class="input-checkbox100"
                  id="ckb1"
                  type="checkbox"
                  name="remember-me"
                />
                <label class="label-checkbox100" for="ckb1">
                  <span class="txt1">
                    I agree to the
                    <a href="{% static 'studentRegister/#" class="txt2 hov1">
                      Terms of User
                    </a>
                  </span>
                </label>
              </div>
            </div>


            <div class="container-login100-form-btn">
              <div class="wrap-login100-form-btn">
                <div class="login100-form-bgbtn"></div>
                <button class="login100-form-btn"  style="padding : 20px 180px;">
                  Sign Up
                </button>
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>

    <!--===============================================================================================-->
    <script src="{% static 'studentRegister/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
    <!--===============================================================================================-->
    <script src="{% static 'studentRegister/vendor/animsition/js/animsition.min.js' %}"></script>
    <!--===============================================================================================-->
    <script src="{% static 'studentRegister/vendor/bootstrap/js/popper.js' %}"></script>
    <script src="{% static 'studentRegister/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
    <!--===============================================================================================-->
    <script src="{% static 'studentRegister/vendor/select2/select2.min.js' %}"></script>
    <!--===============================================================================================-->
    <script src="{% static 'studentRegister/vendor/daterangepicker/moment.min.js' %}"></script>
    <script src="{% static 'studentRegister/vendor/daterangepicker/daterangepicker.js' %}"></script>
    <!--===============================================================================================-->
    <script src="{% static 'studentRegister/vendor/countdowntime/countdowntime.js' %}"></script>
    <!--===============================================================================================-->
    <script src="{% static 'studentRegister/js/main.js' %}"></script>
  </body>
</html>
